RNDApplications/Service References/MyServiceReference/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8861/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8861/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8861/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RNDWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMyService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_MyFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:MyFunction" />
  </wsdl:message>
  <wsdl:message name="IMyService_MyFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_MyFunction1_InputMessage">
    <wsdl:part name="parameters" element="tns:MyFunction1" />
  </wsdl:message>
  <wsdl:message name="IMyService_MyFunction1_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyFunction1Response" />
  </wsdl:message>
  <wsdl:message name="IMyService_MyFunction2_InputMessage">
    <wsdl:part name="parameters" element="tns:MyFunction2" />
  </wsdl:message>
  <wsdl:message name="IMyService_MyFunction2_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyFunction2Response" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DoWork" message="tns:IMyService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DoWorkResponse" message="tns:IMyService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/MyFunction" message="tns:IMyService_MyFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/MyFunctionResponse" message="tns:IMyService_MyFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyFunction1">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/MyFunction1" message="tns:IMyService_MyFunction1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/MyFunction1Response" message="tns:IMyService_MyFunction1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyFunction2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/MyFunction2" message="tns:IMyService_MyFunction2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/MyFunction2Response" message="tns:IMyService_MyFunction2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMyService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyFunction">
      <soap:operation soapAction="http://tempuri.org/IMyService/MyFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyFunction1">
      <soap:operation soapAction="http://tempuri.org/IMyService/MyFunction1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyFunction2">
      <soap:operation soapAction="http://tempuri.org/IMyService/MyFunction2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:8861/MyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>