RNDApplications/Service References/MyServiceReference/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8861/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RNDWcfService" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MyFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RNDWcfService" minOccurs="0" name="myClass" nillable="true" type="q1:MyClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyFunctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MyFunction1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MyFunction1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RNDWcfService" minOccurs="0" name="MyFunction1Result" nillable="true" type="q2:MyClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyFunction2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RNDWcfService" minOccurs="0" name="myClass" nillable="true" type="q3:MyClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyFunction2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RNDWcfService" minOccurs="0" name="MyFunction2Result" nillable="true" type="q4:MyClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>